doctype strict
head
  style.
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
        body{font-family: 'Open Sans', sans-serif; font-size:9px; font-weight:400;}
        h3{font-weight:700; margin-bottom:20px; font-size:10px;}
        p{margin-bottom:5px;}
        table {width:100%;}
        .invHd{ padding: 6px 8px; background: #fff; margin:0 auto;text-align: center; position: relative; bottom: -13px;color: #E14926;right:0;left:0;display:inline-table;}
        table.table{font-size:8px; margin-top:0px;}
        table.table td, table.table th{vertical-align:middle !important; text-align:right;}
        table.table td:first-child, table.table th:first-child{text-align:left;}
        table.table td small{color:#777}
        .text-right {text-align:right;}
        table.header tr td {padding: 0;}
        table.header tr td b {margin-right: 15px;}
        table.right_col span {width: 100px;}
        .text-center {text-align:center;}
        @page {size: A4 portrait;margin: 0;}
section.container
  .clearfix
    .col-xs-12
      .col-xs-12
        table.header(style='width: 100%;')
          tbody
            tr
              td
                h3(style='color:#E14926 !important;margin:0;') #{companyName}
                table.with-pd
                  tbody
                    if(companyGstDetailsObject!='undefined' && companyGstDetailsObject!=''&&companyGstDetailsObject!=null)
                      tr
                        td(style='padding-right: 15px;')
                          p
                            b GSTIN
                            | #{companyGstDetailsObject.gstNumber}
                          p
                            b PAN
                            |
              td.text-right(style='text-align: right')
                h3(style='color:#E14926 !important;') Total ₹ #{grandTotal}
                table.right_col(cellpadding='0', cellspacing='0',style='float: right;')
                  tbody
                    tr
                      td(style='text-align: right;')
                        p
                          b Invoice Date
                          span #{invoiceDate}
                        p
                          b Invoice No.
                          span #{invoiceNumber}
  div.text-center(style='border-bottom:2px solid #E14926 !important; background: none; position: relative; bottom: 0px;width: 100%;text-align: center;bottom:20px;')  
    span.text-center
      if(showTaxes)
        h3.invHd TAX INVOICE
      else
        h3.invHd INVOICE  